<include file="./Application/Common/View/header.html" />
<include file="./Application/Common/View/headerNav.html"/>

<style>
    .main-wrap{
        width: 1000px;
        margin: 20px auto 0 auto;
        background-color: #fff;
        overflow: hidden;
    }

    .message-wrap {
        width: 670px;
        overflow: hidden;
        float: left;
    }

    .message-top .top-tab {
        height: 32px;
        list-style: none;
        border-bottom: 1px solid #CCC;
    }

    .message-top .top-tab li {
        display: inline-block;
        width: 95px;
    }

    .message-top .top-tab li a {
        display: block;
        height: 32px;
        cursor: pointer;
        line-height: 32px;
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }

    .message-top .top-tab li.cur a{
        color: #fff;
        background: #f77825;
    }
    
    .message-container {
        overflow: hidden;
        /*border-bottom: 2px dashed #59bcfe;*/
    }

    .message-container ul li {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 20px;
        border-bottom: 1px solid #e3e0e0;
    }

    .message-container ul li:hover {
        background-color: #f4f3f3;
    }

    .head-img-container {
        width: 100px;
        float: left;
        overflow: hidden;
    }

    .head-img-container img {
        width: 88px;
        border-radius: 50%;
    }

    .content-container {
        width: 500px;
        float: right;
        overflow: hidden;
    }

    .content-container h5 {
        color: #59bcfe;
        font-weight: bold;
        font-size: 14px;
    }

    .content-container p {
        line-height: 20px;
    }

    .message-tag {
        margin: 20px 0;
    }

    .message-tag span {
        margin-right: 10px;
        color: #999;
    }

    .message-tag span a{
        text-decoration: none;
        color: #999;
    }

    .message-tag span a:hover {
        color: #000;
    }

    .message-box {
        padding: 80px 20px 20px 20px;
        overflow: hidden;
        border-right: 20px solid #f7f7f7;
        border-top: 20px solid #f7f7f7;
    }

    .message-box .box-content {
        float: right;
    }

    .message-box textarea {
        width: 500px;
        height: 150px;
        padding: 10px;
        display: block;
    }

    .ds-post-cpntainer {
        margin-top: 10px;
    }

    .ds-post-cpntainer span {
        float: left;
        line-height: 30px;
        color: #999;
    }

    .ds-post-button {
        width: 100px;
        height: 30px;
        background-color: rgb(63, 184, 175);
        color: #fff;
        float: right;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .message-page {
        margin:20px 0;
        text-align: right;
    }

    .message-page a {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #f3f3f3;
        margin-left: 4px;
        text-align: center;
        line-height: 30px;
        color: #333;
        font-size: 12px;
    }

    .message-page a:hover {
        color: #fff;
        background-color: #59bcfe;
    }

    .message-page a:link {
        text-decoration: none;
    }
    
    .message-page a.cur-page {
        color: #fff;
        background-color: #59bcfe;
    }

    .split-line {
        height: 20px;
        background: url('/public/images/travel/h_line.jpg') repeat-x 20px center;
    };

    .person-introduce {
        /*padding: 10px 0;*/
    }

    .person-introduce p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
    
    .head-img img {
        width: 300px;
    }
</style>
<div>
    <div class="main-wrap">
        <div class="message-wrap">
            <div class="message-top" id="message-top">
                <ul class="top-tab">
                    <li  class="cur" content="tab-1"><a href="javascript:;">最新发表</a></li>
                    <li  content="tab-2"><a href="javascript:;">最多点赞</a></li>
                    <li  content="tab-3"><a href="javascript:;">最多回复</a></li>
                </ul>
            </div>
            <div class="message-container">
                <ul>
                    <li>
                        <div class="head-img-container">
                            <a href="">
                                <img src="/public/images/message/head-default.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <h5>孤独的星辰</h5>
                            <p>让我能自信的去追寻自己的梦。</p>
                            <div class="message-tag">
                                <span>
                                    2016-09-17 11:12:26
                                </span>
                                <span class="right-float">
                                    <em class="icon-4"></em>
                                    <a href="">回复（2）</a>
                                </span>
                                <span class="right-float">
                                    <em class="icon-3"></em>
                                    <a href="">赞（30）</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="head-img-container">
                            <a href="">
                                <img src="/public/images/message/head-default.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <h5>孤独的星辰</h5>
                            <p>时间是一个月的时间，我几乎是天天泡在图书馆，晚上11点宿舍断电，我就抱着电脑去旁边的咖啡厅通宵。</p>
                            <div class="message-tag">
                                <span>
                                    2016-09-17 11:12:26
                                </span>
                                <span class="right-float">
                                    <em class="icon-4"></em>
                                    <a href="">回复（2）</a>
                                </span>
                                <span class="right-float">
                                    <em class="icon-3"></em>
                                    <a href="">赞（30）</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="head-img-container">
                            <a href="">
                                <img src="/public/images/message/head-default.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <h5>孤独的星辰</h5>
                            <p>看了很多博主的帖子，我深受鼓舞。</p>
                            <div class="message-tag">
                                <span>
                                    2016-09-17 11:12:26
                                </span>
                                <span class="right-float">
                                    <em class="icon-4"></em>
                                    <a href="">回复（2）</a>
                                </span>
                                <span class="right-float">
                                    <em class="icon-3"></em>
                                    <a href="">赞（30）</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="head-img-container">
                            <a href="">
                                <img src="/public/images/message/head-default.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <h5>孤独的星辰</h5>
                            <p>一辈子也就是几十年的时间吧，如果不能把自己无限的精力投入到有限的青春中，追寻自己的梦，那么活着和喘气又有什么区别呢？所以特别感谢博主，能在我人生最迷茫的时期，看到博主那些让我备受鼓舞和启发的文章。让我能自信的去追寻自己的梦。</p>
                            <div class="message-tag">
                                <span>
                                    2016-09-17 11:12:26
                                </span>
                                <span class="right-float">
                                    <em class="icon-4"></em>
                                    <a href="">回复（2）</a>
                                </span>
                                <span class="right-float">
                                    <em class="icon-3"></em>
                                    <a href="">赞（30）</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="head-img-container">
                            <a href="">
                                <img src="/public/images/message/head-default.jpg" alt="">
                            </a>
                        </div>
                        <div class="content-container">
                            <h5>孤独的星辰</h5>
                            <p>几次拿起早就尘封了多年的网站设计类书本，但是迫于生活无奈又放下。多少次纠结。</p>
                            <div class="message-tag">
                                <span>
                                    2016-09-17 11:12:26
                                </span>
                                <span class="right-float">
                                    <em class="icon-4"></em>
                                    <a href="">回复（2）</a>
                                </span>
                                <span class="right-float">
                                    <em class="icon-3"></em>
                                    <a href="">赞（30）</a>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="message-page" pageSize='5' totalSize="55">
                </div>
            </div>
            <!-- 留言区 -->
            <div class="message-box">
                <div class="head-img-container">
                    <a href="">
                        <img src="/public/images/message/head-default.jpg" alt="">
                    </a>
                </div>
                <div class="box-content">
                    <form action="">
                        <div class="ds-post-toolbar">
                            <div class="ds-post-options ds-gradient-bg">
                                <span class="ds-sync"></span>
                            </div>
                            <div class="ds-toolbar-buttons">
                                <a class="ds-toolbar-button ds-add-emote" title="插入表情"></a>
                            </div>
                        </div>
                        <textarea name="" id="" placeholder="说点什么吧..."></textarea>
                        <div class="ds-post-cpntainer">
                            <span>Ctrl+Enter</span>
                            <button class="ds-post-button" type="submit">留言</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="/public/css/home/common/rightSide.css">
        <div class="content-wrap">
            <!-- 个人介绍 -->
            <div class="person-introduce">
                <h3>个人简介</h3>
                <p>网名：DeepWhite | 深白、</p>
                <p>姓名：Mr.胡 </p>
                <p>籍贯：重庆-巴南</p>
                <p>现居：重庆-渝北</p>
                <p>职业：程序猿一枚</p>
                <p>喜欢的地方：普罗旺斯</p>
            </div>
            <div class="head-img">
                <img src="/public/images/message/my-head.jpg" alt="">
            </div>
            <div class="about-me">
                <h3>关注我</h3>
                <ul>
                    <li>
                        <a class="icon-1" href="www.baidu.com" target="_blank">新浪微博</a>
                    </li>
                    <li>
                        <a class="icon-2" href="www.baidu.com" target="_blank">腾讯微博</a>
                    </li>
                    <li>
                        <a class="icon-3" href="www.baidu.com" target="_blank">github</a>
                    </li>
                    <li>
                        <a class="icon-4" href="www.baidu.com" target="_blank">CSDN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<include file="./Application/Common/View/footer.html" />

<script>
$(function(){
    function pageBar(page) {
        this._handle = page;
        this.pageSize = page.attr('pageSize');
        this.totalSize = page.attr('totalSize');
        this._init();
    }

    //原型方法定义
    pageBar.prototype = {
        //初始化分页样式
        '_init': function() {
            this.pageIndex = this.pageIndex ?  parseInt(this.pageIndex) : 1; 
            if (this.totalSize <= 0) {
                return null;
            }
            var barhtml = '<a href="javascript:;" class="prev">&lt;</a>';
            var totalPage = Math.ceil(this.totalSize / this.pageSize);
            //隐藏模式
            if (totalPage >= 9) {
                var barArr = this._createBar(totalPage);
                for (var i = 0; i < barArr.length; i++) {
                    if (barArr[i] == this.pageIndex) {
                        barhtml += '<a href="javascript:;" class="cur-page">' + barArr[i] + '</a>';
                    } else {
                        barhtml += '<a href="javascript:;">' + barArr[i] + '</a>';
                    }
                };
            } else {
                for (var i = 1; i <= totalPage; i++) {
                    if (i == this.pageIndex) {
                        barhtml += '<a href="javascript:;" class="cur-page">' + i + '</a>';
                    } else {
                        barhtml += '<a href="javascript:;">' + i + '</a>';
                    }
                }
            }
            barhtml += '<a href="javascript:;" class="next">&gt;</a>';
            this._handle.html(barhtml);
        },
        '_createBar': function(totalPage) {
            //隐藏策略
            var leftBarArr = [],
                rightBarArr = [];
            if (this.pageIndex > 1) {
                //前置省略
                if (this.pageIndex >= 5) {
                    leftBarArr = [1, 2, '...', this.pageIndex - 1];
                    if (this.pageIndex == totalPage) {
                        leftBarArr  =  [1, 2, '...', this.pageIndex - 2, this.pageIndex - 1];
                    }
                } else {
                    for (var x = 1; x < this.pageIndex; x++) {
                        leftBarArr.push(x);
                    };
                }
            }
            //后置省略
            if (this.pageIndex < totalPage) {
                if (totalPage - this.pageIndex > 3) {
                    rightBarArr = [this.pageIndex + 1, '...', totalPage - 1, totalPage];
                    if (this.pageIndex == 1) {
                        rightBarArr  = [this.pageIndex + 1, this.pageIndex + 2 , '...', totalPage - 1, totalPage];
                    }
                } else {
                    for (var x = this.pageIndex + 1; x <= totalPage; x++) {
                        rightBarArr.push(x);
                    };
                }
            }
            //生成样式
            leftBarArr.push(this.pageIndex);

            return leftBarArr.concat(rightBarArr);
        },
        //响应单击事件
        'pageClick': function(obj, url, callBack) {
            this._handle.on('click', 'a', function() {
                var cusorContent = $(this).html();
                var pageIndex;
                //特殊标识处理
                if (cusorContent == '...') {
                    return true;
                } else if (cusorContent == '&lt;') {
                    if (obj.pageIndex <= 1) {
                       return true; 
                    }
                    pageIndex = obj.pageIndex - 1;
                } else if (cusorContent == '&gt;') {
                    if (obj.pageIndex >= Math.ceil(obj.totalSize / obj.pageSize)) {
                       return true;
                    }
                    pageIndex = obj.pageIndex + 1;
                } else {
                    pageIndex = cusorContent;
                }

                //获取加载数据
                $.ajax({
                    url: url + '?pageIndex=' + pageIndex,
                    type: 'GET',
                    dataType: 'json',
                }).success(function(data) {
                    if (data.success) {
                        callBack(data.data);
                    } else {
                        alert(data.data);
                    }
                });
                obj.pageIndex = pageIndex;
                obj._init();
            });
        }
    };

    var pageBar = new pageBar($('.message-page'));
    pageBar.pageClick(pageBar, '/Home/Message/getmessagelist', function(list){pageDataSwitch(list)});
    function pageDataSwitch(list) {
        var listItem = '',
            listHtml = '';
        for (var i = 0; i < list.length; i++) {
            listItem = 
            '<li>\
                <div class="head-img-container">\
                    <a href="">\
                        <img src="' + list[i].headImg + '" alt="">\
                    </a>\
                </div>\
                <div class="content-container">\
                    <h5>' + list[i].userName + '</h5>\
                    <p>' + list[i].content +'</p>\
                    <div class="message-tag">\
                        <span>\
                            ' + list[i].time + '\
                        </span>\
                        <span class="right-float">\
                            <em class="icon-4"></em>\
                            <a href="">回复（' + list[i].agreeCount + '）</a>\
                        </span>\
                        <span class="right-float">\
                            <em class="icon-3"></em>\
                            <a href="">赞（' + list[i].replyCount + '）</a>\
                        </span>\
                    </div>\
                </div>\
            </li>';
            listHtml += listItem;
        };
        $(".message-container>ul").html(listHtml);
        //回到顶部
        $('html,body').animate({scrollTop: $("#message-top").offset().top}, 500);
    }
});
</script>