<include file="./Application/Common/View/header.html" />
<include file="./Application/Common/View/headerNav.html" />

<style>
    .main-wrap{
        width: 1000px;
        margin: 20px auto 0 auto;
        background-color: #fff;
        overflow: hidden;
    }

    .new-container {
        width: 670px;
        float: left;
        overflow: hidden;
        padding: 10px 0 10px 10px;
    }

    .new-desc {
        line-height: 24px;
        margin: 20px 0;
        padding: 10px;
        color: #888888;
        background-color: #F6F6F6;
    }

    .new-content {
        line-height: 24px;
        font-size: 14px;
        color: #666666;
    }

    .new-content .footend {
        margin-top: 20px;
        padding: 15px 15px 15px 115px;
        background: url('/public/images/ftend.png') no-repeat 15px center #f6f5f2;
        line-height: 20px;
        word-break: break-all;
    }

    .new-share {
        margin:20px 0;
        overflow: hidden;
    }
    
    .new-share a {
        float: left;
        font-size: 18px;
        padding-left: 25px;
        line-height: 24px;
        height: 24px;
        background-image: url('/public/images/share-icon.png');
        background-repeat: no-repeat;
        cursor: pointer;
        margin: 6px 6px 6px 0;
    }

    .new-share .bds_tsina {
        background-position: 0 -104px;
    }

    .new-share .bds_weixin {
        background-position: 0 -1612px;
    }

    .new-share .bds_qzone {
        background-position: 0 -52px;
    }

    .new-share .bds_tqq {
        background-position: 0 -260px;
    }

    .person-introduce p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
    
    .head-img img {
        width: 300px;
    }

    .new-content p {
        text-indent: 2em;
    }

    .head-img img {
        width: 300px;
    }

    .bootom-img img {
        width: 670px;
    }
</style>
<div>
    <div class="main-wrap">
        <div class="new-container">
            <div class="new-desc">
                <strong>青春就是一场旅行，写给十年后的自己</strong>
            </div>
            <div class="new-content">
                <!-- 嵌入背景音乐 -->
                <embed src="/public/rain.mp3" align="center" loop='true' border="0" width="1" height="1" autostart="true" loop="true">
                <div><img src="/public/images/about-title.gif" alt=""></div>
                <h4>——序</h4>
                <p>
                    还好吗，老朋友？可能你已经忘记了10年前的今天你写下的这封信，忘记这一天是否下着小雨，忘记你听着什么歌，也忘记了多少人在你生命里来了又去，因为太久远了。也许现在的你工作出色，有着稳定的生活和一个可爱的小女儿，我知道你是比较喜欢小女孩的；或许你辞掉了工作去卖水果结果亏得血本无归，然后一无所有。作为10年前的你我当然希望你会是成功或者快乐的，但是生活不是电影剧本，我也不能成为你剧中的导演，剧情总会有那么一些狗血。还记得10年前红遍一时的致青春吗？青春都是用来怀念的，是啊，此时的你在怀念青春吗？青春总是喜欢将哀伤美化，如果勾引过你的眼泪，也勉强算是场功德吧，至少在这个麻木的时代还能唤醒你内心深处最真实的情感，哪怕只是片刻。有人的青春是钱钟书笔下的《围城》，为理想爱情追逐着，最后却困在了城里；有人的青春是席慕容笔下的《青春》，尽管被命运装订得极为拙劣，但却从未放弃过；而你的青春只能是一本没有写完的书，至于名字，我想现在的你已经有了答案。有人说没有邂逅爱情的青春是不完整的，但不是每个人都是上帝的宠儿，你只能遗憾的道一句：在我最美的年华里没有遇见你。不要因为寂寞去爱，因为爱了也会是寂寞的。6月毕业季，你不用遗憾因为时间而模糊的每一张极浅极淡的笑脸，如果人生是一场旅途，每个人都会是沿途的一道风景，记忆会帮你珍藏每一个笑容。看到这里，你是否记起了大学里那些可爱的人呢？
                </p>
                <h4>——后记</h4>
                <p>
                   命运调戏了青春，于是诞生了爱情，而理想只能是命运的小三，在现实面前被遗忘在了某个阳光并不和煦的夏日里。10年很久，久到你可能忘记了我的样子，久到你的初恋怀上了别人的孩子，或许也久到中国站在了世界杯的领奖台上。不要害怕孤独，因为我已经将幸福装饰在了你的梦里，经过时间洗涤然后定格成美好的回忆，在你悲伤或者沮丧时请将它拾起。命运有时会像一个调皮的孩子，如果10年后的你不幸变成了流氓，那么请你认真的告诉你的女儿，她的爸爸曾经纯真过。在那个纯真的年代，菊花还只是一种花，2B也还只是一种铅笔，而黑木耳也真的只是一种蔬菜而已。一切都是那么美好，但是现实总是喜欢把美好揉碎然后埋葬在过去。 我们总是在责怪时间偷走了青春，命运辜负了爱情，但都忘记了这是成长需要付出的代价。如果爱情曾经流过眼泪，请轻轻的将它拭去，然后继续寻找幸福的花海，还她一个微笑。希望10年后的你还能对自己说一句：在我心里，爱情，一直都是它原来的样子。
                </p>
                <!--<p>-->
                    <!--在这条路上，我要感谢三个人，第一个是我从事编辑的老板，是他给了我充分学习研究div的时间，第二个人是我的老师，如果不是街上的一次偶遇，如果不是因为我正缺钱，我不会去强迫自己做不会的事情，但是金钱的诱惑实在是抵挡不了，于是我选择了“接招”，东拼西凑的把一个网站做好了，当时还堪称佳作的网站至今已尘归尘土归土了。第三个人，我总说他是我的伯乐，因为我当初应聘技术员的时候，我说我什么都不会，但是他却给了我机会，而我就牢牢的把握了那次机会，直到现在如果不是我主动把域名和空间转出来，我会一直霸占着公司资源，免费下去（可我就偏偏不是喜欢爱占便宜的人，总感觉欠了就得还）...-->
                <!--</p>-->
                <!--<p>-->
                   <!--还要特别感谢一个人，是我的老公。他是我的百科，我不会的，他会，最后我还是不会。博客能做到今天这样，一半都有他的功劳。他不仅仅支持我的事业作为我有力的经济后盾，还毫无怨言的包容我所有工作、生活当中有理无理的坏脾气，曾经我是多么有自己原则的一个人，但是遇到他，打破了我自己毕生坚持的原则，喜欢一句话“冥冥中该来则来，无处可逃”。-->
                <!--</p>-->
            </div>
            <div class="bootom-img">
                <img src="/public/images/aboutme.jpg" alt="">
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="/public/css/home/common/rightSide.css">
        <div class="content-wrap">
            <!-- 个人介绍 -->
            <div class="person-introduce">
                <h3>个人简介</h3>
                <p>网名：DeepWhite | 深白、</p>
                <p>姓名：Mr.胡 </p>
                <p>籍贯：重庆-巴南</p>
                <p>现居：重庆-渝北</p>
                <p>职业：程序猿一枚</p>
                <p>喜欢的地方：普罗旺斯</p>
            </div>
            <div class="head-img">
                <img src="/public/images/message/my-head.jpg" alt="">
            </div>
            <div class="about-me">
                <h3>关注我</h3>
                <ul>
                    <li>
                        <a class="icon-1" href="www.baidu.com" target="_blank">新浪微博</a>
                    </li>
                    <li>
                        <a class="icon-2" href="www.baidu.com" target="_blank">腾讯微博</a>
                    </li>
                    <li>
                        <a class="icon-3" href="www.baidu.com" target="_blank">github</a>
                    </li>
                    <li>
                        <a class="icon-4" href="www.baidu.com" target="_blank">CSDN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<include file="./Application/Common/View/footer.html" />