<link rel="stylesheet" type="text/css" href="/public/css/home/common/rightSide.css">
<script type="text/javascript"src="/public/js/home/common/rightSide.js"></script>
<div class="content-wrap">
	<div class="about-me">
		<h3>关注我</h3>
		<ul>
			<li>
				<a class="icon-1" href="www.baidu.com" target="_blank">新浪微博</a>
			</li>
			<li>
				<a class="icon-2" href="www.baidu.com" target="_blank">腾讯微博</a>
			</li>
			<li>
				<a class="icon-3" href="www.baidu.com" target="_blank">github</a>
			</li>
			<li>
				<a class="icon-4" href="www.baidu.com" target="_blank">CSDN</a>
			</li>
		</ul>
	</div>
	<div class="ad-wrap">
		<img src="/public/images/home/ad300x100.jpg" alt="">
	</div>
	<div class="top-container">
		<ul class="top-tab">
			<li  class="cur" content="tab-1"><a href="javascript:;">点击排行</a></li>
			<li  content="tab-2"><a href="javascript:;">最新文章</a></li>
			<li  content="tab-3"><a href="javascript:;">站长推荐</a></li>
		</ul>
		<div class="top-content content-show">
			<ul>
				<foreach name="rightSideData.hotArticleList" item="article">
					<li><span class="bg-num-1">{$key + 1}</span><a href="">{$article.title}</a></li>
				</foreach>
			</ul>
		</div>
		<div class="top-content">
			<ul>
				<foreach name="rightSideData.lastArticleList" item="article">
					<li><span class="bg-num-1">{$key + 1}</span><a href="">{$article.title}</a></li>
				</foreach>
			</ul>
		</div>
		<div class="top-content">
			<ul>
				<foreach name="rightSideData.recommendArticleList" item="article">
					<li><span class="bg-num-1">{$key + 1}</span><a href="">{$article.title}</a></li>
				</foreach>
			</ul>
		</div>
	</div>
	<!-- 标签云 -->
	<div class="laber-container">
		<h3>标签云</h3>
		<ul>
	        <li>GitHub</li>
	        <li>Composer</li>
	        <li>Node.js</li>
	        <li>Html</li>
	        <li>CSS3</li>
	        <li>Html5+css3</li>
	        <li>PHP</li>
	        <li>Javasript</li>
	        <li>C++</li>
	        <li>Perl</li>
	        <li>Shell</li>
	        <li>Mysql</li>
	        <li>Redis</li>
	        <li>Mongo</li>
  		</ul>
	</div>
	<!-- 图文推荐 -->
	<div class="recommend-wrap">
		<h3>图文推荐</h3>
		<ul>
			<foreach name="rightSideData.imageArticleList" item="article">
	        	<li>
					<div class="title">
						<a href="{$article.detailUrl}">
							<img src="{$article.imgCover}" alt="">
							<b>{$article.title}</b>
						</a>
					</div>
					<p>
						<span class="tag-laber">
							<a href="{$article.detailUrl}">{$article.typeDesc}</a>
						</span>
						<span class="tag-time">{$article.createDate}</span>
					</p>
	        	</li>
			</foreach>
  		</ul>
	</div>
	<!-- 广告位 -->
	<div class="ad-container">
		<img src="/public/images/home/03.jpg" alt="">
	</div>
	<!-- 友情链接 -->
	<div class="link-wrap">
		<h3>友情链接</h3>
		<ul>
	        <li><a href="/">深白个人博客</a></li>
	        <li><a href="/">Mongodb</a></li>
	        <li><a href="/">Redis</a></li>
	        <li><a href="/">Composer</a></li>
	        <li><a href="/">W3C</a></li>
	        <li><a href="/">Ruboob</a></li>
	        <li><a href="/">PHP</a></li>
	     </ul>
	</div>
</div>