/**
 * footer css
 **/
.footer-wrap {
	margin-top: 20px;
	background-color: #fff;
}

.footer-container {
	color: #8D8D8D;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	padding: 30px 0 0 20px;
}

.footer-info {
	margin-top:20px;
	height: 100px;
}

.footer-info p {
	line-height: 20px;
	margin-top: 10px;
}

.footer-logo img {
	height: 50px;
}

.footer-nav {
	height: 100px;
	background: url('/public/images/ft-wx.jpg') no-repeat right;
	padding-right: 110px;
}

.footer-link {
	clear: both;
	float: right;
	margin-top: 15px;
	margin-bottom: 5px;
}

.footer-link a {
	display: inline-block;
	height: 20px;
	color: #8D8D8D;
	line-height: 20px;
	margin-left: 10px;
	text-decoration: none;
}

.footer-link a:hover {
	color: #000;
}

.footer-share {
	margin-top: 5px;
	overflow: hidden;
}

.footer-share ul li {
	float: right;
	margin-right: 10px;

}

.footer-share ul li a {
	display: block;
	height: 34px;
	width: 34px;
}

.footer-share .share-sina {
	background: url('/public/images/ft-shares.png') no-repeat 0 0;
}

.footer-share .share-sina:hover {
	background-position: -50px 0;
}

.footer-share .share-weixin {
	background: url('/public/images/ft-shares.png') no-repeat 0 -34px;
}

.footer-share .share-weixin:hover {
	background-position: -50px -34px;
}

.footer-share .share-eamil {
	background: url('/public/images/ft-shares.png') no-repeat 0 -102px;
}

.footer-share .share-eamil:hover {
	background-position: -50px -102px;
}

.footer-nav p {
	clear: both;
}