<!-- 站点地图 -->
<link rel="stylesheet" type="text/css" href="/public/css/home/common/footer.css">
<div class = "footer-wrap">
	<div class="footer-container">
		<ul>
			<li>
				<a href="">
					<p class="footer-link footer-icon1"></p>
				</a>
				<p>中国领先</p>
				<p>私人定制商城</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon2"></p>
				</a>
				<p>100%专属定制</p>
				<p>独一无二为您定制</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon3"></p>
				</a>
				<p>100%</p>
				<p>正品保证</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon4"></p>
				</a>
				<p>30天</p>
				<p>退货保障</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon5"></p>
				</a>
				<p>24小时</p>
				<p>闪电发货</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon6"></p>
				</a>
				<p>精美保证</p>
				<p>让您眼前一亮</p>
			</li>
			<li>
				<a href="">
					<p class="footer-link footer-icon7"></p>
				</a>
				<p>200万用户</p>
				<p>口碑信赖</p>
			</li>					
			<li>
				<a href="">
					<p class="footer-link footer-icon8"></p>
				</a>
				<p>1250城市</p>
				<p>货到付款</p>
			</li>
		</ul>
		<div class="footer-content">
			<dd>
				<dt><a href="">商品分类</a></dt>
				<dt><a href="">移动站点</a></dt>
				<dt><a href="">商家登陆</a></dt>
				<dt><a href="">招聘英才</a></dt>
				<dt><a href="">联系我们</a></dt>
				<dt><a href="">关于我们</a></dt>
				<dt><a href="">帮助中心</a></dt>
				<dt><a href="">站点导航</a></dt>
			</dd>
			<p>Copyright © 2006-2016 goodtime.com 网上经营许可证号：渝B2-20140235</p>
		</div>
	</div>
</div>