<!-- 站点地图 -->
<link rel="stylesheet" type="text/css" href="/public/css/home/common/footer.css">
<div class = "footer-wrap">
	<div class="footer-container">
		<div class="footer-info left-float">
			<div class="footer-logo">
				<a href="javascript:;">
					<img src="/public/images/ft-logo.jpg" alt="">
				</a>
			</div>
			<p>让你的身体和心灵都来一次彻底的旅行吧！</p>
		</div>
		<div class="footer-nav right-float">
			<div class="footer-share">
				<ul>
					<li class="share-sina"><a href="javascript:;"></a></li>
					<li class="share-weixin"><a href="javascript:;"></a></li>
					<li class="share-eamil"><a href="javascript:;"></a></li>
				</ul>
			</div>
			<div class="footer-link">
				<a href="javascript:;">我的微博</a>
				<a href="javascript:;">站长统计</a>
				<a href="javascript:;">广告合作</a>
				<a href="/Home/Message/MessageHome">给我留言</a>
			</div>
			<p>Copyright 2016 conact me:huzikan@163.com</p>
		</div>
	</div>
</div>
</body>
</html>