<link rel="stylesheet" type="text/css" href="/public/css/home/common/header_nav.css">
<div class="top-wrap">
    <div class="site-top">
        <div class="logo-container">
            <a class="site-link" href='http://www.zbj.com'>
                <img src="/public/images/goodtime_logo.png">
            </a>
            <span class="site-desc">带给您不一样的美好生活</span>
        </div>
        <div class="sitemap-container">
            <gt name="_user['uid']" value="0">
            	<span class="left-float">欢迎您，{$_user['username']}</span>
            </gt>
            <ul>
                <gt name="_user['uid']" value="0">
                    <li><a class="split" href="{:U('member/loginOut')}">退出</a></li>
                    <li><a class="split" href="">个人中心</a></li>
                <else/>
                	<li><a class="split" href="{:U('member/loginView')}">登陆</a></li>
                	<li><a class="split" href="">注册</a></li>
                </gt>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="header-nav-wrap">
    <div class="nav-container">
        <div class="nav-logo">
            <a class="nav-link" href="http://www.zbj.com">
                <img src="/public/images/nav_logo.png">
            </a>
        </div>
        <div class="header-nav">
            <ul>
                <li><a class="header-nav-cur" href="">首页</a></li>
                <li><a href="">绿色花园</a></li>
                <li><a href="">蓝色海洋</a></li>
                <li><a href="">我的账户</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </div>
</div>